{% extends 'base.html' %}
{% load pagination %}
{% load static %}

{% block content %}
    {% if questions.object_list %}
        <h2 class="tag-page__header">
            {% block list_title %}{% endblock %}
        </h2>
        <div class="questions-list">
            {% for q in questions %}
                {% include 'includes/question_item.html' %}
            {% endfor %}
        </div>
        {% if questions.paginator.num_pages > 1 %}
            {% include "includes/pagination.html" with pages=questions|smart_pagination current_page=questions.number %}
        {% endif %}
    {% else %}
        <h2 class="tag-page__header">
            {% block empty_title %}{% endblock %}
        </h2>
        <div class="empty-state">
            <p>
                {% block empty_message %}{% endblock %}
            </p>
            <a href="{% url 'ask' %}" class="button button--emptytag">Задать вопрос</a>
        </div>
    {% endif %}
{% endblock %}
