{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="form-container">
        <h2>Вход</h2>
        <form action="#" method="post">
            <div class="form__group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="example@mail.ru" required>
            </div>
            <div class="form__group">
                <label for="password">Пароль</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="button button--primary button--block">Войти</button>
            <div class="form__footer">
                Нет аккаунта? <a href="{% url 'signup' %}">Зарегистрируйтесь</a>
            </div>
        </form>
    </div>
    {% block sidebar %}
    {% endblock %}
{% endblock %}
