{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="form-container">
        <h2>Редактирование профиля</h2>
        {% if user %}
        <form action="#" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form__group text--center">
                <img src="{{ user_profile.profile.get_avatar_url }}" alt="Avatar" class="avatar--large">
                <!-- {% if user_profile.avatar %}
                    <img src="{% static 'img/default-avatar.png' %}" alt="Avatar" class="avatar--large">
                {% else %}
                    <img src="{% static 'img/default-avatar.png' %}" alt="Avatar" class="avatar--large">
                {% endif %} -->
                <input type="file" name="avatar" accept="image/*" class="form-control--file">
            </div>
            <div class="form__group">
                <label class="form__group-labelinput" for="username">Имя пользователя</label>
                <input type="text" class="form-control" id="username" name="username" value="{{ user_profile.username }}">
            </div>
            <div class="form__group">
                <label class="form__group-labelinput" for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" value="{{ user_profile.email }}">
            </div>
            <div class="form__group">
                <label class="form__group-labelinput" for="bio">О себе</label>
                <textarea class="form-control" id="bio" name="bio" rows="3">{{ user_profile.profile.bio }}</textarea>
            </div>
            <div class="form__group">
                <label class="form__group-labelinput" for="password">Новый пароль</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Оставьте пустым, чтобы не менять">
            </div>
            <button type="submit" class="button button--primary button--block">Сохранить</button>
        </form>
        {% else %}
            <p>Пользователь не найден</p>
        {% endif %}
    </div>
{% endblock %}
