{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="form-container">
        <h2>Профиль</h2>
        {% if user %}
            <div class="form__group text--center">
                <img src="{{ user_profile.profile.get_avatar_url }}" alt="Avatar" class="avatar--large">
            </div>
            <div class="form__group">
                <label class="form__group-labelinput">Имя пользователя</label>
                <p class="form-control readonly-value">{{ user_profile.username }}</p>
            </div>
            <div class="form__group">
                <label class="form__group-labelinput">Email</label>
                <p class="form-control readonly-value">{{ user_profile.email }}</p>
            </div>
            <div class="form__group">
                <label class="form__group-labelinput">О себе</label>
                <div class="form-control readonly-value" style="min-height:6rem; white-space:pre-wrap;">{{ user_profile.profile.bio|default:'-' }}</div>
            </div>
            <div class="form__group text--center">
                <a href="{% url 'index' %}" class="button button--secondary button--block">Вернуться на главную</a>
            </div>
        {% else %}
            <p>Пользователь не найден</p>
        {% endif %}
    </div>
{% endblock %}
