{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="form-container">
        <h2>Редактирование профиля</h2>
        <form action="#" method="post" enctype="multipart/form-data">
            <div class="form__group text--center">
                <img src="{% static 'img/default-avatar.png' %}" alt="Avatar" class="avatar--large">
                <input type="file" name="avatar" accept="image/*" class="form-control--file">
            </div>
            <div class="form__group">
                <label for="username">Имя пользователя</label>
                <input type="text" class="form-control" id="username" name="username" value="user123">
            </div>
            <div class="form__group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" value="user@example.com">
            </div>
            <div class="form__group">
                <label for="password">Новый пароль</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Оставьте пустым, чтобы не менять">
            </div>
            <button type="submit" class="button button--primary button--block">Сохранить</button>
        </form>
    </div>
{% endblock %}
